---
layout: default
bodyClass: "page-home"
---

<style>
  .header {
    background: transparent;
    border: 0;
  }
  .logo,
  .logo-mobile {
    visibility: hidden;
  }
</style>

<div class="intro">
  <div class="container">
    <div class="row justify-content-center" style="text-align: center;">
      <p>
        <img src="{{ site.baseurl }}/images/logo/logo-dark.svg" alt="PocketPose" height="64" />
      </p>

      {{ content }}

      <p class="pt-2 col-12 col-md-8">
        <img src="{{ site.baseurl }}/assets/images/getting-started.gif" alt="Getting Started" width="100%" />
      </p>

      <p class="col-12 col-md-8">
          Develop interactive applications, sports analysis tools, or creative motion-powered experiences with our lightweight library that integrates seamlessly into your project.
      </p>

      <p class="col-md-8">
        <a href="/get-started/" class="button button-secondary">Get Started Now</a>
      </p>

      <p class="pt-2 col-12 col-md-8">
        <small>
          PocketPose takes care of real-time motion estimation, so you can focus on building what matters. <em>Available in Python, JavaScript, and Kotlin</em>.
        </small>
    </p>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-diagonal">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}"
              width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<div class="container">
    <h2>Citation</h2>
    <p>
      If you find PocketPose useful in your research, please consider citing the following paper:
    </p>
    <pre class="citation-block">
    <code class="language-bibtex">
    @misc{khan2023pocketpose,
          title={PocketPose: Real-Time Human Pose Estimation on Mobile Devices - A Comprehensive Study}, 
          author={Muhammad Saif Ullah Khan},
          year={2023},
          journal={arXiv preprint arXiv:2103.16345},
          eprint={2103.16345},
          archivePrefix={arXiv},
          primaryClass={cs.CV}
    }</code>
    </pre>
</div>
